* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: grid;
    place-content: center;
    background: linear-gradient(150deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.card {
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    width: 500px;

    padding: 40px 35px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > input {
    background: #fcf7f0;
    border: 0;
    outline: 0;
    width: 80%;
    height: 60px;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 30px;

}

header > button {
    background: #fcf7f0;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

header > button:hover{
    background: #e4dfd9;
}

button > img {
    width: 18px;
}

.weather > img {
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin-top: -20px;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 30px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind {
    font-size: 28px;
    margin-top: -6px
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: -15px;
    display: none;
}